@import '~bootstrap/scss/bootstrap';
@import 'toastr';

:root {
  --jumbotron-padding-y: 3rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.homepage-hero {
  position:relative;
}

.bg-overlay {
  background: -webkit-gradient(linear,left top,left bottom,from(#3e3e3ec4),to(#79000040));
  background: linear-gradient(to bottom,#3e3e3ec4,#79000040);
  width:100%;
  display:block;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.rounded {
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
}