<div class="container">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">New Produce</h1>

  <div class="card">
  	<div class="card-body">
			<%= render 'form', produce: @produce %>
			<%= link_to 'Back', produces_path %>
  	</div>
  </div>

</div>